<div class="pt-2 pe-3 text-end">
  <%= sign_in_with_slack_button(state: @state, nonce: @nonce) %>
</div>

<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-3 fw-bolder">
    <%= image_tag "sparkles.png", width: 75, height: 75, alt: "sparkles", class: "mx-auto mb-3" %>
    Sparkles
    <%= image_tag "sparkles.png", width: 75, height: 75, alt: "sparkles", class: "mx-auto mb-3" %>
  </h1>

  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Sparkles is a shiny, little Slack app for recognizing your teammates and friends!
      Add it to your Slack workspace and use the <code>/sparkle</code> command
      to say &#10024; thank you &#10024; with a sparkle, keep track of your own sparkle
      points, and even check your team's leaderboard. Add it to Slack to get started or,
      if your team is already using Sparkles, sign in with the link above!
    </p>

    <p class="lead mb-4"><%= add_to_slack_button(state: @state) %></p>

    <figure class="figure onboarding-figure">
      <%= image_tag "give-a-sparkle.png", alt: "Use the /sparkle command to give a sparkle", class: "figure-img img-fluid rounded border" %>
      <figcaption class="figure-caption fw-bolder">Say "thank you" with a sparkle!</figcaption>
    </figure>

    <figure class="figure onboarding-figure">
      <%= image_tag "see-your-sparkles.png", alt: "A list of one user's sparkles", class: "figure-img img-fluid rounded border" %>
      <figcaption class="figure-caption fw-bolder">Keep track of every sparkle you've been given!</figcaption>
    </figure>

    <figure class="figure onboarding-figure">
      <%= image_tag "check-the-leaderboard.png", alt: "An example sparkle leaderboard", class: "figure-img img-fluid rounded border" %>
      <figcaption class="figure-caption fw-bolder">Check your team's leaderboard!</figcaption>
    </figure>

    <%= add_to_slack_button(state: @state) %>
  </div>
</div>
