<div class="px-4 my-5 text-center">
  <h1 class="display-5 fw-bold">
    <%= image_tag "sparkles.png", width: 75, height: 75, alt: "sparkles", class: "mx-auto mb-3" %>
    <%= current_team.name %>'<% if current_team.name != current_team.name.pluralize %>s<% end %>
    Sparkle Directory
    <%= image_tag "sparkles.png", width: 75, height: 75, alt: "sparkles", class: "mx-auto mb-3" %>
  </h1>

  <div class="col-lg-6 mx-auto">
    <% @users.each_slice(5) do |users| %>
      <div class="row">
        <% users.each do |user| %>
          <div class="col">
            <%= link_to user_stats_path(current_team.slack_id, user.slack_id), class: "username" do %>
              <figure class="figure border p-3 bg-body">
                <%= image_tag(user.image_url, size: 100, class: "rounded mb-2", alt: user.name) %>
                <figcaption class="figure-caption fw-bolder"><%= "@#{user.username.presence || user.name}" %></figcaption>
              </figure>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= paginate @users %>
</div>
