<!DOCTYPE html>
<html>
  <head>
    <title>Sparkles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flash" class="col-lg-6 mx-auto">
      <% if flash.alert %>
        <div class="alert alert-danger" role="alert">
          <%= flash.alert %>
        </div>
      <% end %>

      <% if flash.notice %>
        <div class="alert alert-primary" role="alert">
          <%= flash.notice %>
        </div>
      <% end %>
    </div>

    <% if authenticated? %>
      <div class="pt-2 pe-3 text-end">
        <%= link_to sign_out_path, class: "btn btn-outline-secondary", data: {method: :delete} do %>
          <%= image_tag current_user.image_url, size: 25, class: "rounded", alt: current_user.name %>
          Sign out
        <% end %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
